\documentclass[11pt]{article}
\usepackage{CJKutf8}
\usepackage[utf8]{inputenc}
\usepackage{amsmath,amsthm,amsfonts,amssymb,amscd}
\usepackage{multirow,booktabs}
\usepackage[table]{xcolor}
\usepackage{fullpage}
\usepackage{lastpage}
\usepackage{enumitem}
\usepackage{fancyhdr}
\usepackage{mathrsfs}
\usepackage{wrapfig}
\usepackage{setspace}
\usepackage{calc}
\usepackage{multicol}
\usepackage{cancel}
\usepackage[retainorgcmds]{IEEEtrantools}
\usepackage[margin=3cm]{geometry}
\usepackage{amsmath}
\newlength{\tabcont}
\setlength{\parindent}{0.0in}
\setlength{\parskip}{0.05in}
\usepackage{empheq}
\usepackage{framed}
\usepackage[most]{tcolorbox}
\usepackage{xcolor}
\colorlet{shadecolor}{orange!15}
\parindent 0in
\parskip 12pt
\geometry{margin=1in, headsep=0.25in}
\theoremstyle{definition}
\newtheorem{defn}{Definition}
\newtheorem{reg}{Rule}
\newtheorem{exer}{Exercise}
\newtheorem{note}{Note}
\newtheorem*{sol}{Solution}
\usepackage{hyperref}
\hypersetup{
colorlinks=true,
linkcolor=blue,
filecolor=magenta,
urlcolor=cyan,
}
\usepackage{float}
\begin{document}
\begin{CJK*}{UTF8}{gbsn}
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
题号：1\\
题型：解答\\
题目页码：P100,Q1\\
题干：\\
题目内容：\\
解答页码：TP1148,Q1\\
答案：\\
\\

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
题号：2\\
题型：解答\\
题目页码：P100,Q2\\
题干：\\
题目内容：\\
解答页码：TP1148,Q2\\
答案：\\
\\

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
题号：3\\
题型：解答\\
题目页码：P100,Q3\\
题干：\\
题目内容：\\
解答页码：TP1148,Q3\\
答案：\\
\\

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
题号：4\\
题型：解答\\
题目页码：P100,Q4\\
题干：\\
题目内容：\\
解答页码：TP1148,Q4\\
答案：\\
\\

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
题号：5\\
题型：解答\\
题目页码：P100,Q5\\
题干：\\
题目内容：\\
解答页码：TP1148,Q5\\
答案：\\
\\

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
题号：6\\
题型：解答\\
题目页码：P100,Q6\\
题干：\\
题目内容：\\
解答页码：TP1148,Q6\\
答案：\\
\\

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
题号：7\\
题型：解答\\
题目页码：P100,Q7\\
题干：\\
题目内容：\\
解答页码：TP1148,Q7\\
答案：\\
\\

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
题号：8\\
题型：解答\\
题目页码：P100,Q8\\
题干：\\
题目内容：\\
解答页码：TP1148,Q8\\
答案：\\
\\

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
题号：9\\
题型：解答\\
题目页码：P100,Q9\\
题干：\\
题目内容：\\
解答页码：TP1148,Q9\\
答案：\\
\\

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
题号：10\\
题型：解答\\
题目页码：P100,Q10\\
题干：\\
题目内容：\\
解答页码：TP1148,Q10\\
答案：\\
\\

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
题号：11\\
题型：解答\\
题目页码：P100,Q11\\
题干：\\
题目内容：\\
解答页码：TP1148,Q11\\
答案：\\
\\

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
题号：12\\
题型：解答\\
题目页码：P100,Q12\\
题干：\\
题目内容：\\
解答页码：TP1148,Q12\\
答案：\\
\\

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
题号：13\\
题型：解答\\
题目页码：P100,Q13\\
题干：\\
题目内容：\\
解答页码：TP1148,Q13\\
答案：\\
\\

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
题号：14\\
题型：解答\\
题目页码：P100,Q14\\
题干：\\
题目内容：\\
解答页码：TP1148,Q14\\
答案：\\
\\

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
题号：15\\
题型：解答\\
题目页码：P100,Q15\\
题干：\\
题目内容：\\
解答页码：TP1148,Q15\\
答案：\\
\\

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
题号：16\\
题型：解答\\
题目页码：P100,Q16\\
题干：\\
题目内容：\\
解答页码：TP1148,Q16\\
答案：\\
\\

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
题号：17\\
题型：解答\\
题目页码：P100,Q17\\
题干：\\
题目内容：\\
解答页码：TP1148,Q17\\
答案：\\
\\

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
题号：18\\
题型：解答\\
题目页码：P100,Q18\\
题干：\\
题目内容：\\
解答页码：TP1148,Q18\\
答案：\\
\\

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
题号：19\\
题型：解答\\
题目页码：P100,Q19\\
题干：\\
题目内容：\\
解答页码：TP1148,Q19\\
答案：\\
\\

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
题号：20\\
题型：解答\\
题目页码：P100,Q20\\
题干：\\
题目内容：\\
解答页码：TP1148,Q20\\
答案：\\
\\

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
题号：21\\
题型：解答\\
题目页码：P100,Q21\\
题干：\\
题目内容：\\
解答页码：TP1148,Q21\\
答案：\\
\\

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
题号：22\\
题型：解答\\
题目页码：P100,Q22\\
题干：\\
题目内容：\\
解答页码：TP1148,Q22\\
答案：\\
\\

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
题号：23\\
题型：解答\\
题目页码：P100,Q23\\
题干：\\
题目内容：\\
解答页码：TP1148,Q23\\
答案：\\
\\

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
题号：24\\
题型：解答\\
题目页码：P100,Q24\\
题干：\\
题目内容：\\
解答页码：TP1148,Q24\\
答案：\\
\\

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
题号：25\\
题型：解答\\
题目页码：P100,Q25\\
题干：\\
题目内容：\\
解答页码：TP1148,Q25\\
答案：\\
\\

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
题号：26\\
题型：解答\\
题目页码：P100,Q26\\
题干：\\
题目内容：\\
解答页码：TP1148,Q26\\
答案：\\
\\

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
题号：27\\
题型：解答\\
题目页码：P100,Q27\\
题干：\\
题目内容：\\
解答页码：TP1148,Q27\\
答案：\\
\\

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
题号：28\\
题型：解答\\
题目页码：P100,Q28\\
题干：\\
题目内容：\\
解答页码：TP1148,Q28\\
答案：\\
\\

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
题号：29\\
题型：解答\\
题目页码：P100,Q29\\
题干：\\
题目内容：\\
解答页码：TP1148,Q29\\
答案：\\
\\

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
题号：30\\
题型：解答\\
题目页码：P100,Q30\\
题干：\\
题目内容：\\
解答页码：TP1148,Q30\\
答案：\\
\\

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
题号：31\\
题型：解答\\
题目页码：P100,Q31\\
题干：\\
题目内容：\\
解答页码：TP1148,Q31\\
答案：\\
\\

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
题号：32\\
题型：解答\\
题目页码：P100,Q32\\
题干：\\
题目内容：\\
解答页码：TP1148,Q32\\
答案：\\
\\

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
题号：33\\
题型：解答\\
题目页码：P100,Q33\\
题干：\\
题目内容：\\
解答页码：TP1148,Q33\\
答案：\\
\\

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
题号：34\\
题型：解答\\
题目页码：P100,Q34\\
题干：\\
题目内容：\\
解答页码：TP1148,Q34\\
答案：\\
\\

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
题号：35\\
题型：解答\\
题目页码：P100,Q35\\
题干：\\
题目内容：\\
解答页码：TP1148,Q35\\
答案：\\
\\

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
题号：36\\
题型：解答\\
题目页码：P100,Q36\\
题干：\\
题目内容：\\
解答页码：TP1148,Q36\\
答案：\\
\\

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
题号：37\\
题型：解答\\
题目页码：P100,Q37\\
题干：\\
题目内容：\\
解答页码：TP1148,Q37\\
答案：\\
\\

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
题号：38\\
题型：解答\\
题目页码：P100,Q38\\
题干：\\
题目内容：\\
解答页码：TP1148,Q38\\
答案：\\
\\

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
题号：39\\
题型：解答\\
题目页码：P100,Q39\\
题干：\\
题目内容：\\
解答页码：TP1148,Q39\\
答案：\\
\\

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
题号：40\\
题型：解答\\
题目页码：P100,Q40\\
题干：\\
题目内容：\\
解答页码：TP1148,Q40\\
答案：\\
\\

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
题号：41\\
题型：解答\\
题目页码：P100,Q41\\
题干：\\
题目内容：\\
解答页码：TP1148,Q41\\
答案：\\
\\

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
题号：42\\
题型：解答\\
题目页码：P100,Q42\\
题干：\\
题目内容：\\
解答页码：TP1148,Q42\\
答案：\\
\\

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
题号：43\\
题型：解答\\
题目页码：P100,Q43\\
题干：\\
题目内容：\\
解答页码：TP1148,Q43\\
答案：\\
\\

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
题号：44\\
题型：解答\\
题目页码：P100,Q44\\
题干：\\
题目内容：\\
解答页码：TP1148,Q44\\
答案：\\
\\

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
题号：45\\
题型：解答\\
题目页码：P100,Q45\\
题干：\\
题目内容：\\
解答页码：TP1148,Q45\\
答案：\\
\\

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
题号：46\\
题型：解答\\
题目页码：P100,Q46\\
题干：\\
题目内容：\\
解答页码：TP1148,Q46\\
答案：\\
\\

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
题号：47\\
题型：解答\\
题目页码：P100,Q47\\
题干：\\
题目内容：\\
解答页码：TP1148,Q47\\
答案：\\
\\

\end{CJK*}
\end{document}